<p>
  <b>ISSN 1983-5965</b>
</p>

<p> 
  <b>Diretor de Redação:</b> Mino Carta<br>
  <b>Redatora-chefe:</b> Lívia Perozim<br>
  <b>Consultor editorial: </b>Luiz Gonzaga Belluzzo<br>
  <b>Editor responsável:</b> Sergio Lirio 
</p>


<p> <b>Consultora pedagógica:</b> Maria José Nóbrega<br>
  <b>Editora-assistente:</b> Clarice Cardoso<br>
  <b>Repórter: </b>Tory Oliveira<br>
  <b>Estagiária: </b>Thais Paiva<br>
  <b>Revisores:</b> Áli Onaissi (coordenação), Hassan Ayoub e Rita     Leite
</p>


<p><b>Projeto gráfico: </b>Equipe CartaCapital<b><br>
  Diretora de arte:</b> Pilar Velloso <br>
  <b>Chefe de arte: </b>Estella Maris, George B. J. Duque Estrada     (Fundador) Mariana Ochs (Projeto original)<br>
  <b>Designers:</b> Ana Beatriz Pádua (Infográficos), Cláudia Kievel, Milena Branco, e     Marcos Medeiros (Assistente)<br>
  <b>Produção gráfica/digital:</b> Reinaldo Belintani                  <br>
  <b>Fotografia:</b> Mara Lúcia da Silva (Chefe de Produção), Gabriela     Giordano (Produtora Editorial) e Pedro Presotto (auxiliar de     Fotografia) <br>
  <b>Secretárias: </b>Catia Praxedes e Ingrid Sabino                  <br>

</p>

<p><b>Inovação digital:</b> Adriana Corradi (Editora), Daniela Neiva     (Subeditora)<br>
  <b>Designers:</b> Lidiane Siqueira, Regina Assis<br>
  <b>Programador:</b> Hermes Canuto<br>
  <br>
  <b>SITE: <a href="http://www.cartacapital.com.br">www.cartacapital.com.br</a></b><br>
  <br>
  <b>Conselho Editorial: </b>Antonio Delfim Netto, Eduardo Rocha     Azevedo, Luiz Gonzaga Belluzzo, Manuela Carta e Mino Carta     (presidente)<br>
  <b>Publisher:</b> Manuela Carta<br>
  <b>Gerente-Geral: </b>Luis Antonio Moraes<br>
  <br>
  <b>Publicidade</b><br>
  <b>Diretor de publicidade:</b> Adriano Chrisostomo<br>
  <b>Venda de publicidade: </b>Marielle Brust (11) 3474-0181<br>
  <b>Gerente de marketing:</b> Patricia Grosso<br>
  <b>Coordenadora de marketing:</b> Daniela Mancuso<br>
  <b>Analista de marketing:</b> Tatiana Giovani Silva<br>
  <b>Assistente de marketing:</b> Pedro Veríssimo Fernandes   <br>
  <b>Assistente Administrativo:</b> Claudinéia da Cruz<br>
  <b>Assistente de publicidade:</b> Erika Viana Costa<br>
  <b>E-mail: </b><a href="mailto:comercial@cartacapital.com.br">comercial@cartacapital.com.br</a>
</p>

<p><br>
  <b>Representantes regionais de publicidade:</b><br>
  Rio de Janeiro: Enio Santiago/Fernando Silva,<br>
  (21) 2556-8898/2245-8660, <a href="mailto:enio@gestaodenegocios.com.br">enio@gestaodenegocios.com.br</a><br>
  <a href="mailto:fernando@gestaodenegocios.com.br">fernando@gestaodenegocios.com.br</a><br>
  BA/AL/PE/SE: Canal C Comunicação, (71) 3025-2670 – Carlos     Chetto, (71) 9617-6800/Luiz Freire, (71) 9617-6815 <a href="mailto:canalc@canalc.com.br">canalc@canalc.com.br</a><br>
  Brasília (DF): VertMídia. (61) 4063-7183 – Solange Farias. <br>
  <a href="mailto:solfarias@vertmidia.com.br">solfarias@vertmidia.com.br</a> <br>
  Espírito Santo:  Enio <a href="mailto:Santiago/enio@gestaodenegocios.com.br">Santiago/enio@gestaodenegocios.com.br</a> Flávio Castro (27) <a href="mailto:3389-3452/flavio@gestaodenegocios.com.br">3389-3452/flavio@gestaodenegocios.com.br</a><br>
  Minas Gerais: Marco Aurélio Maia, (31) 3281-0283/9983-2987     marco<br>
  <a href="mailto:aureliomaia@marcoaureliomaia.com">aureliomaia@marcoaureliomaia.com</a><br>
  Santa Catarina:Marcucci&amp;Gondran Associados (48) 333-8497 <br>
  <a href="mailto:marcucci.gondran@terra.com.br">marcucci.gondran@terra.com.br</a><br>
  Pará: Glícia Diocesano, (91) 3242-3367, <a href="mailto:gliciadiocesano@yahoo.com.br">gliciadiocesano@yahoo.com.br</a><br>
  CE/PB/PI/MA/RN: AG Holanda Comunicação, (85) 3224-2267<br>
  <a href="mailto:agholanda@agholanda.com.br">agholanda@agholanda.com.br</a><br>
  Rio Grande do Sul: Inovação Soluções em Mídia Ltda., (51)     3021-7103, <a href="mailto:contato@inovacaointel.com.br">contato@inovacaointel.com.br</a><br>
  Paraná: SEC Estratégias, (41) 3019-3717, <a href="mailto:opec@sec-estrategias.com.br">opec@sec-estrategias.com.br</a><br>
</p>

<p>
  <b>Gerente de Circulação: </b>Rita Teixeira <br>
  <b>Analista de Circulação - Venda Avulsa:</b> Juliana Augusta     Pelizzon de Morais<br>
  <b>Assistentes de circulação - Assinaturas: </b><br>
  Leonardo Borgiani e Luciana Cristina Silva<br>
</p>

<p>
  <b>Diretora-administrativa/Financeira:</b> Renata Ribeiro dos Santos<br>
  <b>Coordenador Admnistrativo/Financeiro:</b> Mario Yamanaka<br>
  <b>Equipe adminbistrativa e Financeira:</b> Fabiana lopes santos,     Juliana Torres Corrêa<br>
  <b>Assistente de administrativo e de RH:</b> Maria Rocha Calixto<br>
  <b>Controller:</b> Eduardo Lucchesi<br>

  <b>ASSESSORIA CONTÁBIL, FISCAL E TRABALHISTA:</b><br>
  Firbraz Serviços Contábeis Ltda. <br>
  Av. Pedroso de Moraes, 2219 – Pinheiros – SP/SP – CEP 05419-001 <br>
  <a href="http://www.firbraz.com.br">www.firbraz.com.br</a>, fone (11)3463-6555<br>
  <br>
  CartaCapital é uma publicação semanal da Editora Confiança Ltda.     Carta­Capital não se responsabiliza pelos conceitos emitidos nos     artigos assinados.As pessoas que não constarem do expediente não têm     autorização para falar em nome de CartaCapital ou para retirar     qualquer tipo de material se não possuírem em seu poder carta em     papel timbrado assinada por qualquer pessoa que conste do     expediente. Registro nº 179.584 de 23/8/94, modificado pelo registro     nº 219.316 de 30/4/2002 no 1º Cartório, de acordo com a Lei de     Imprensa. <br>
  Impressão simultânea: PLURAL Editora e Gráfica - São Paulo - SP<br>
  e Recife - PE Distribuição em bancas: Fernando Chinaglia<br>
  Assinantes: Door to Door Logística e Distribuição				
</p>

